article.resource-card-detail {
  &[data-post-type="resource"]{
    --color-theme: #e98300;
    &[data-resource-type-parent="classroom-tools"] {
      --color-theme:#e98300;
    }
    &[data-resource-type-parent="lesson-activity-plans"] {
      --color-theme: #55d4e5;
    }
  }

  &[data-post-type="topic"]{
    --color-theme: #e2d313;
    &[data-group-type="course"] {
      --color-theme: #5454ef;
    }
    &[data-group-type="topic"] {
      --color-theme: #e2d313;
    }
  }

  border-top: .75rem solid var(--color-theme);
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  padding-inline: clamp(.5rem, 2.5vw, 2rem);
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  position: relative;
  transition: all 0.2s ease;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: transparent;
    
    transition: all 0.3s ease;
    transform: translateY(-200%);
    outline: 2px solid transparent;
  }
  &:hover, &:focus-within {
    outline: 2px solid var(--color-theme);
    &::after {
      outline: 2px solid var(--color-theme);
      background-color: var(--color-theme);
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .resource-types {
    text-transform: capitalize;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    font-size: .875rem;
    color: #808080;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    margin: .5rem 0 1rem 0;
    line-height: 1.2;
    @media screen and (max-width: 600px) {
      font-size: 1.375rem;
    }
  }

  .resource-type-children {
    margin-bottom: 1rem;
    font-size: .625rem;
    color: $color__text-main;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    .resource-type-child {
      padding: .25rem 1rem;
      border: 2px solid var(--color-theme);
      border-radius: 30px;
    }
  }

  .resource-excerpt {
    margin-bottom: 1.5rem;
    font-size: .875rem;
  }

  .grade-levels,
  .resource-topics {
    margin-bottom: .5rem;
    font-size: .875rem;
    color: $color__background-dark;
    .label {
      font-weight: 600;
      margin-right: .25rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: .75rem;
      font-family: $font__heading;
    }
  }
}