section.quick-search {
  background-color: $color__background-light;
  padding: clamp(3rem, 5vw, 5rem) clamp(1rem, 5vw, 3rem);

  .inner {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-size: clamp(1.5rem, 5vw, 2rem);
      margin-bottom: 1.5rem;
    }
    form {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #fff;
      border-radius: 50px;
      padding: 10px 15px;
      @media screen and (max-width: 600px) {
        gap: 15px;
      }

      input {
        flex: 1;
        padding: .5rem 1rem;
        border-radius: 30px;
        font-size: 1rem;
        border: 1px solid transparent;
        color: $color__text-main;
        @media screen and (max-width: 600px) {
          font-size: 0.875rem;
        }
        &::placeholder {
          color: $color__text-main;
        }
        &:focus {
          border: 1px solid $color__orange;
          outline: none;
          border-color: $color__orange;
        }
      }
      button {
        background-color: $color__blue;
        border: none;
        border-radius: 50%;
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline-offset: 2px;
        svg {
          stroke: #fff;
          transition: all 0.3s ease;
          width: 1.5rem;
        }
        &:hover {
          svg {
            transform: scale(1.1);
          }
        }

        &:focus {
          outline: 1px solid $color__orange;
          svg {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}