header.entry-header {
  background-color: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-inline: 1rem;
  @media screen and (max-width: 1000px) {
    padding-block: clamp(1rem, 5vw, 3rem);
  }
  .inner {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    padding-inline: clamp(1rem, 5vw, 2rem);
    gap: clamp(2rem, 5vw, 4rem);
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }

    .col {
      flex: 1;
      padding-inline: 1rem;
      > h1 {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
    .page-description {
      margin-top: 1rem;
      font-size: clamp(1rem, 2.5vw, 1.25rem);
      line-height: 1.6;
      max-width: 900px;
    }
    .image-col {
      position: relative;
      min-height: 300px;
      width: 100%;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
      }
    }
  }
}