section.meta-box {
  padding-inline: clamp(1rem, 4vw, 2rem);
  margin-block: clamp(2rem, 10vw, 3rem);
  .meta {
    background-color: #f4f4f4;
    font-size: .9375rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 2rem;
    max-width: 800px;
    margin: auto;
    padding-block: 1.5rem;
    padding-inline: clamp(1rem, 4vw, 2rem);
    .label {
      text-transform: uppercase;
      font-family: $font__heading;
      letter-spacing: 0.05em;
      font-weight: 600;
    }
  }
}