section.resource-grid {
  padding-inline: clamp(1rem, 5vw, 2rem);
  margin-block: 2rem;
  padding-block: 0;
  @media screen and (max-width: 600px) {
    padding-inline: 0;
  }
  
  .resource-wrap {
    display: flex;
    gap: clamp(2.5rem, 3vw, 5rem);
    
    .resource-container {
      background-color: #f4f4f4;
      width: 100%;
      max-width: clamp(800px, 80vw, 1200px);
      margin: 0 auto;
      flex-grow: 1;
      padding: 2rem;
      @media screen and (max-width: 600px) {
        padding: 2rem .5rem;
      }

      .resource-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 2rem;
      }
    }
  }

}