section.section-heading {
  margin-block: 2rem;
  padding-inline: clamp(1rem, 5vw, 2rem);
  
  .logo-divider {
    width: 100%;
    margin: 1rem auto;
  }
  .inner {
    margin: 1rem auto;
    display: flex;
    gap: clamp(2rem, 5vw, 3rem);


    @media (max-width: 600px) {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }

    .col.text {
      flex: 1 1 400px;
      @media (max-width: 600px) {
        flex-basis: auto;
      }
      h2 {
        margin-top: 0;
        font-size: clamp(1.75rem, 3vw, 2.5rem);
      }
    }
    .col.img {
      flex: 1 1 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        flex-basis: auto;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }
}