section.section-heading {
  margin-block: clamp(2rem, 10vw, 3rem);
  padding-inline: clamp(1rem, 5vw, 3rem);
  
  .logo-divider {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
  }
  .inner {
    max-width: 800px;
    margin: 1rem auto;
    display: flex;
    gap: clamp(2rem, 5vw, 3rem);


    @media (max-width: 600px) {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }

    .col.text {
      flex: 1 1 400px;
      @media (max-width: 600px) {
        flex-basis: auto;
      }
      h2 {
        margin-top: 0;
      }
    }
    .col.image {
      flex: 1 1 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        flex-basis: auto;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }
}