section.text-block {
  padding-block: clamp(3rem, 10vw, 5rem);
  padding-inline: clamp(1rem, 5vw, 3rem);

  .inner {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    text-align: center;

    @media (max-width: 600px) {
      padding: 40px 15px;
      font-size: 16px;
    }
  }
}