section.text-block {
  margin-block: 2rem;
  padding-inline: clamp(1rem, 5vw, 3rem);

  .inner {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    color: #333;

    @media (max-width: 600px) {
      padding: 20px 0;
      font-size: 1rem;
    }
  }
}