h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__heading;
	font-weight: 600;
}

h1 {
	font-size: clamp(2.25rem, 3.75vw, 3.75rem);
	line-height: 1.3;
}
h2 {
	font-size: clamp(1.75rem, 3vw, 3.125rem);
	line-height: 1.3;
	margin-bottom: 1.5rem;
}
h3 {
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	margin-bottom: 1rem;
}
