section.topic-activities {
  .activities-grid {
     margin-top: clamp(3rem, 5vw, 5rem);

    .activity-group {
      display: flex;
      flex-direction: column;
      gap: clamp(3rem, 5vw, 5rem);

      .activity-resource {
        display: flex;
        gap: clamp(3rem, 5vw, 5rem);
        margin-bottom: clamp(3rem, 5vw, 5rem);

        article {
          flex-basis: 25rem;
          flex-grow: 0;
          background-color: $color__background-light;
        }

        .activity-resource-description {
          flex-basis: 25rem;
          flex-grow: 1;
        }
      }
    }

  }
}