header.topic-banner.entry-header {
  padding-inline: clamp(.5rem, 3vw, 3rem);
  .inner {
    padding-inline: 1rem;
    margin: 0 auto 1rem;
    width: 100%;
    max-width: 80rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'info actions';
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
      padding-inline: 0;
    }
  }
  .infoblock {
    grid-area: info;
    background-color: $color__background-dark;
    color: #fff;
    padding-block: 3rem;
    padding-inline: clamp(.5rem, 3vw, 3rem);
    height: fit-content;
    flex-grow: 1;
    ol.breadcrumb-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      li {
        margin: 0;
        padding: 0;
        &:not(:last-child)::after {
          content: '/';
          margin-left: .5rem;
        }
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            color: $color__orange;
          }
        }
        &[aria-current="page"] {
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .breadcrumbs {
      font-size: 0.875rem;
      margin-bottom: 2rem;
      a {
        color: #fff;
        text-decoration: underline;
        &:hover {
          color: $color__orange;
        }
      }
    }
    h1 {
      font-size: clamp(1.75rem, 5%, 2.625rem);
      margin-bottom: 1rem;
    }
    .description {
      font-size: clamp(1rem, 3%, 1.5rem);
      p {
        margin-block: 1rem;
      }
    }
    .meta {
      font-size: .9375rem;
      display: flex;
      flex-direction: column;
      gap: .75rem;
      margin-top: 2rem;
      .label {
        text-transform: uppercase;
        font-family: $font__heading;
        letter-spacing: 0.05em;
        font-weight: 600;
      }
    }
  }
  .featured-img {
    grid-area: image;
    @media screen and (max-width: 1000px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

