section.content-nav {
  padding-inline: clamp(1rem, 10vw, 3rem);
  padding-block: 2rem;
  margin-block: 1.5rem;
  background-color: $color__background-light;

  h2 {
    font-size: clamp(1.25rem, 2.8vw, 1.75rem);
    margin: 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px;
        align-items: center;
        opacity: .5;

        &::before {
          content: '';
          width: 1rem;
          height: 1rem;
          display: inline-block;
          border-radius: 50%;
          background-color: $color__text-main;
          transform: translateY(-1px);
        }
        &:focus-within {
          &::before {
            background-color: $color__orange;
          }
        }
        &:hover {
          &::before {
            background-color: $color__orange;
          }
          a {
            color: $color__orange;
          }
        }
        &.active {
          opacity: 1;
          pointer-events: none;
          a {
            pointer-events: none;
          }
        }

        a {
          font-family: $font__heading;
          color: $color__text-main;
          text-decoration: none;
          font-weight: 600;
          padding: 0;
        }

      }
    }
  }
}