a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

a.button,
a.button-orange {
	background-color: $color__orange;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: .9375rem;
	letter-spacing: 0.1em;
	font-family: $font__heading;
	font-weight: 700;
	line-height: 1.5;
	padding: 0.75rem 1.25rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	text-transform: uppercase;
	margin-block: .5rem;
	@media screen and (max-width: 768px) {
		font-size: 1rem;
		width: 100%;
	}

	&:hover,
	&:focus {
		background-color: darken($color__orange, 10%);
		color: #fff;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}

	&:active {
		background-color: darken($color__orange, 15%);
		outline: 0;
	}
}
