ul,
ol {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
	margin-inline: 1.5rem;
	padding: 0;
	padding-left: 1rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: .25rem;
}

li > ul,
li > ol {
	margin-block: 1rem;
	margin-left: 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
