body.topic-template-default,
body.page-template-default {
  main {
    .page-wrap {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
      padding-inline: 1rem;
      padding-bottom: 5rem;
      @media screen and (max-width: 600px) {
        padding-inline: 0;
      }
    }
  }
  main.with-sidebar {
    .page-wrap {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-template-areas: "blocks sidebar";
      gap: 2rem;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 40px;
        gap: 1rem;
      }
      @media screen and (max-width: 600px) {
        display: contents;
      }
    }

    div.page-blocks-container {
      grid-area: blocks;
      z-index: 1;
      position: relative;
      isolation: isolate;
    }

    div.sidebar-container {
      grid-area: sidebar;
      margin-block: clamp(2rem, 10vw, 3rem);
      z-index: 3;
      @media screen and (max-width: 600px) {
        position: sticky;
        top: 0;
        margin-block: 0;
      }

      aside.sidebar-nav {
        position: sticky;
        top: 3.5rem;
        background-color: #f4f4f4;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        padding-inline: 1.5rem;
        @media screen and (max-width: 1200px) {
          padding-inline: .5rem;
          margin: auto;
        }
        @media screen and (max-width: 600px) {
          padding-inline: .25rem;
          padding-block: .5rem;
        }
        nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          @media screen and (max-width: 1200px) {
            width: fit-content;
            margin: auto;
          }
          @media screen and (max-width: 600px) {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            gap: 1.5rem;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media screen and (max-width: 600px) {
              flex-direction: row;
              gap: 1rem;
              overflow-x: auto;
              scroll-snap-type: x mandatory;
              -webkit-overflow-scrolling: touch;
            }
            li {
              margin: 0;
              padding: 0;
              opacity: .5;

              &:focus-within {
                span.icon {
                  background-color: $color__orange;
                }
              }
              &:hover {
                a {
                  color: $color__orange;
                  span.icon {
                    background-color: $color__orange;
                  }
                }
              }
              &.active {
                opacity: 1;
                span.icon {
                  background-color: $color__orange;
                }

              }

              a {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 0;
                font-family: $font__heading;
                text-decoration: none;
                span.icon {
                  width: 1rem;
                  height: 1rem;
                  aspect-ratio: 1;
                  display: inline-block;
                  border-radius: 50%;
                  background-color: $color__text-main;
                  margin-right: 0;
                }
                span.text {
                  color: $color__text-main;
                  text-decoration: none;
                  font-weight: 600;
                  font-size: clamp(0.75rem, 1.2vw, .875rem);
                  line-height: 1.2;
                  @media screen and (max-width: 1200px) {
                    display: none;
                  }
                }
              }

            }
          }
        }

      }
    }
  }
}