body.page-template-template-resource-library {
  main.page-resource-library {
    background-color: $color__background-light;
    padding-block: 3rem;
    padding-inline: clamp(1rem, 3vw, 4rem);
    @media screen and (max-width: 600px) {
      padding-inline: 10px;
    }
    
    .inner {
      max-width: 100rem;
      margin: 0 auto 4rem auto;
      position: relative;
      overflow: visible;
      header.entry-header {
        padding: 0;
        h1 {
          margin-bottom: 2.5rem;
        }
      }

      
      .info-bar {
        background-color: $color__background-light;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
        gap: 5rem;
        position: sticky;
        top: 0;
        z-index: 2;
        @media screen and (max-width: 1200px) {
          gap: 2rem;
        }
        .resource-results {
          width: 100%;
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          font-size: 0.9rem;
          position: sticky;
          top: 0;
          margin-bottom: .5rem;
          @media screen and (max-width: 1200px) {
            width: fit-content;
            gap: 0 2rem;
          }
          // @media screen and (max-width: 600px) {
          //   flex-direction: column;
          //   font-size: 0.75rem;
          // }
          form.sort-choices {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: .875rem;
            padding-top: .25rem;
            label {
              margin: 0;
              padding: 0;
              line-height: 1;
            }
            select {
              background-color: transparent;
              padding: 0;
              margin: 0;
              border: none;
              outline: none;
              line-height: 1;
              option {
                padding: 0;
              }
            }
          }
          .results-count {
            font-size: 0.875rem;
            color: #808080;
            font-weight: 400;
          }
        }

        .filter-visibility-wrap {
          flex-basis: 23rem;
          flex-shrink: 0;
          flex-grow: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @media screen and (max-width: 1200px) {
            flex-basis: auto;
          }
          .text-label {
            font-size: 0.9rem;
            margin-right: 0.5rem;
            @media (min-width: 1200px) {
              display: block; // Show text on desktop
            }
            @media (max-width: 1199px) {
              display: none; // hide text on mobile
            }
          }
          button.filter-visibility-toggle {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
            @media (min-width: 1200px) {
              display: none; // Hide toggle on desktop
            }
            @media (max-width: 1199px) {
              display: block; // Show toggle on mobile
            }
            svg {
              width: 1.5rem;
              height: 1.5rem;
              path {
                fill: $color__text-main;
              }
            }
          }
        }

      }

      .resource-wrap {
        display: flex;
        gap: clamp(2.5rem, 3vw, 5rem);
        justify-content: space-between;

        .resource-container {
          background-color: transparent;
          width: 100%;
          flex-grow: 1;

          @media screen and (min-width: 1200px) {
            max-width: 70rem;
          }

          .filter-loading {
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;
            padding: 2rem 0;
            font-size: 2rem;
            font-family: $font__heading;
            text-transform: uppercase;
            width: 100%;
            color: #000;
          }

          .resource-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
            gap: 2rem;
          }
        }
      }

      .lower {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 60px;
        .back-to-top {
          margin: auto;
        }
      }
    }
  }
}

body.page-template-template-resource-library {
  @media screen and (max-width: 1199px) {
   &[data-filters-expanded="true"] {
    // When filters are expanded on mobile prevent body scroll
    overflow: hidden;
   }
  }
}