body.page-template-template-resource-library {
  main.page-resource-library {
    background-color: $color__background-light;
    padding-top: 5rem;
    padding-inline: clamp(1rem, 5vw, 4rem);
    .inner {
      max-width: 80rem;
      margin: 0 auto 4rem auto;
      header.entry-header {
        h1 {
          margin-bottom: 2.5rem;
        }
      }

      .resource-wrap {
        display: flex;
        gap: 3rem;

        .resource-container {
          background-color: lightgreen;
          width: 100%;
          flex-grow: 1;

          .resource-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 0.9rem;
            margin-bottom: 1rem;
            form.sort-choices {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              label {
                margin: 0;
                padding: 0;
                line-height: 1;
              }
              select {
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: none;
                outline: none;
                line-height: 1;
                option {
                  padding: 0;
                }
              }
            }
            .results-count {
              font-size: 1rem;
            }
          }
          .resource-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
            gap: 2rem;
          }
        }


      }
    }
  }
}