$color__orange: #e98300;
$color__teal: #55d4e5;
$color__yellow: #e2d313;
$color__blue: #5454ef;

$color__background-body: #fff;
$color__background-dark: #2e3333;
$color__background-black: #202323;
$color__background-light: #f4f4f4;
$color__background-screen: #f4f4f4;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #2e3333;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__orange;
$color__link-visited: $color__orange;
$color__link-hover: #191970; //midnightblue
$color__text-main: #2e3333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
